savefile/
transient/
elpa/
auto-save-list/
eshell/
ac-comphist.dat
.mc-lists.el
srecode-map.el
semanticdb/
var
tramp
ensime/
npm-debug.log
packages/
url/
recentf
docsets/
network-security.data
.lsp*
flycheck_*
private-modules/*
!private-modules/.gitkeep
