savefile/
transient/
elpa/
auto-save-list/
eshell/
ac-comphist.dat
.mc-lists.el
srecode-map.el
semanticdb/
var
tramp
ensime/
npm-debug.log
packages/
url/
recentf
docsets/
network-security.data
.lsp*
flycheck_*
modules-private/*
!modules-private/.gitkeep
emacs-modules-private.el
.cache/
eln-cache/
projectile.cache
projectile-bookmarks.eld
early-init.el
org-roam.db
bookmarks
.org-id-locations
projects
rake.cache
abbrev_defs
.dap-breakpoints
history
